ul{
    display:flex;
    justify-content: center;
    li{
        list-style:none;
        font-size:20px;
        &:hover{
            cursor: pointer;
        }
        a{
            color:black;
            &:hover{
                cursor: pointer;
            }
        }
    }
}